{% extends 'base.html.twig' %}

{% block body %}

    <h2>Add a new comment</h2>

    {{ form_start(newCommentForm) }}

        {{ form_row(newCommentForm.message) }}

        <button type="submit" class="btn btn-success">Create <span class="fa fa-lock"></span></button>

    {{ form_end(newCommentForm) }}

{% endblock %}