{% extends 'base.html.twig' %}

{% block body %}

    <h2>Please log in</h2>

    {{ form_start(loginForm, {attr: {novalidate: 'novalidate'}}) }}

        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.password) }}

        <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
    	<a href="/connect/facebook" class="btn btn-primary">Sign in with facebook</a>

    {{ form_end(loginForm) }}

  </form>

{% endblock %}